body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #ffeeee;
    text-align: center;
}

.container {
    max-width: 400px;
}

.mb-4 {
    color: #2c4b79;
}

input[type=text],
input[type=text]:focus {
    color: #9abca4;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #ffffff;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

/* 追加 */
.todos li {
    background: #2c4b79;
}

/* 追加 */
.delete {
    cursor: pointer;
    color: orange;
}

/* 見かけ上削除。実際には消してない */
.filtered {
    display : none !important;
}